* {
	margin: 0; 
	padding: 0;
	font-family: Arial, sent-serif; 
	text-align: center;
	box-sizing: border-box;
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(Img/palmy_derevya_nebo_116038_1920x1080.jpg) no-repeat;
	background-size: cover;
	background-position: center right;
	opacity: .85;
}

header {
	display: flex;
	background-color: #1F2A2C; 
	height: 100vh;
	opacity: .95;
}

.container {
	width: 55vw; 
	margin: 0 auto; 
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	opacity: .95;
}

header p, header h1{
	color: #fff;
}

p {
	font-size: 1.5em;
	margin-bottom: .2em;
}

section {
 min-height: 100vh;
}

section h1 {
	color: #fff;
	font-size: 2em;
	padding: 1.9em 0 1em 0;
}

.projects{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.project {
	display: flex;
	background-color: #716F7C;
	padding: 1em;
	border-radius: 1.5em;
	color: #fff;
	margin: 2em 0;

	width: 100%; 
}

.project > h3 {
	margin: 0 0 .7em 0; 
	display: none;
}

.project img {
	width: 12em; 
	height: 12em;
	border-radius: 1em;
}

.project > div {
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
	width: 100%;
}

.project-description {
	padding: 0 2em;
	text-align: left;
}

.project-description > h3 {
	padding: 0 0 .8em 0;
	text-align: left;
}

.project-description > span {
	font-size: 1.05em;
}

.project a {
	text-decoration: none;
	color: #fff;
}

.project > div > div:nth-child(2) {
	margin: 1em 0 0 0; 
}

a:hover {
	color: #FA8072;
}

#a1 {
	margin-right: 1em;
}

footer {
	color: #fff;
}

footer > div > div {
	display: flex; 
	width: 25%;
	justify-content: space-around;
	padding: 0 0 1em 0;
}

.logo {
	width: 4em;
	height: 4em;
	opacity: 0.8;
}

.logo:hover {
	opacity: 1;
}

@media (max-width: 950px) {
	.container {
		width: 75vw;
	}
}

@media (max-width: 800px) {
	.container {
		width: 90vw;
	}
}


@media (max-width: 600px) {
	.container {
		width: 95vw;
	}
}

@media (max-width: 449px) {

	.project-description {
		display: none;
	}

	.project {
		flex-direction: column;
		align-items: center;
		width: auto;
	}

	.project > h3 {
		display: inline;
	}
}


